<html>
<head>
<title>Password Reset</title>
</head>
<body>
<div id="error">{{ . }}</div>
<form method="POST" action="/reset">
<input type="text" name="username" id="username">
<input type="password" name="password" id="password">
<input type="submit">
</body>
</html>